<img class="panda" src="../../assets/img/panda.svg" alt="">

<div class="profile">
    <div class="name">John Doe</div>
    <div class="age">7 ans</div>
</div>

<div class="menu">
    <div class="item">
        <div class="text">
            <img class="icon-left" src="../../assets/img/user.svg" alt="">
            Modifier le profil
            <img class="icon-right" src="../../assets/img/pen.svg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="text">
            <img class="icon-left" src="../../assets/img/languages.svg" alt="">
            English
            <img class="icon-right" src="../../assets/img/pen.svg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="text">
            <img class="icon-left" src="../../assets/img/panda.svg" alt="">
            Thème
            <img class="icon-right" src="../../assets/img/pen.svg" alt="">
        </div>
    </div>
    <div class="item check">
        <div class="text">
            <img class="icon-left" src="../../assets/img/google-docs.svg" alt="">
            Exercices text
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="item check">
        <div class="text">
            <img class="icon-left" src="../../assets/img/music.svg" alt="">
            Exercices audio
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="item">
        <div class="text">
            <img class="icon-left" src="../../assets/img/bell.svg" alt="">
            Notification
            <img class="icon-right" src="../../assets/img/pen.svg" alt="">
        </div>
    </div>
</div>