<img class="return-button" src="../../../assets/img/arrow.png" alt="" routerLink="/vocabulary/{{id}}">
<div class="title">
    Quiz
</div>
<div class="title-2">
    Les animaux de la ferme
</div>
<div class="instruction">
    Clique sur l'image de l'animal correspondant au mot.
</div>
<div class="word-to-find">
    Cow
</div>
<div class="cards">
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/cow.svg" alt="" (click)="toggleModal('successModal')">
        </div>
    </div>
    <div class="card">
        
        <div class="picture">
            <img class="image" src="../../../assets/img/sheep.svg" alt="" (click)="toggleModal('errorModal')">
        </div>
    </div>
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/hen.svg" alt="" (click)="toggleModal('errorModal')">
        </div>
    </div>
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/pig.svg" alt="" (click)="toggleModal('errorModal')">
        </div>
    </div>
</div>

<div id="successModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="toggleModal('successModal')">&times;</span>
    <p>Bien joué !</p>
  </div>
</div>

<div id="errorModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span id="close" class="close" (click)="toggleModal('errorModal')">&times;</span>
        <p>Réessaie encore !</p>
    </div>
</div>