<img class="return-button" src="../../../assets/img/arrow.png" alt="" routerLink="/vocabulary/{{id}}">
<div class="title">
    Quiz
</div>
<div class="title-2">
    Les animaux de la ferme
</div>
<div class="instruction">
    Clique sur l'image de l'animal correspondant au mot.
</div>
<div class="word-to-find">
    Cow
</div>
<div class="cards">
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/cow.svg" alt="">
        </div>
    </div>
    <div class="card">
        
        <div class="picture">
            <img class="image" src="../../../assets/img/sheep.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/hen.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="picture">
            <img class="image" src="../../../assets/img/pig.svg" alt="">
        </div>
    </div>
</div>
