<img class="return-button" src="../../../assets/img/arrow.png" alt="" routerLink="/vocabulary/{{id}}">
<div class="title">
    Leçon
</div>
<div class="title-2">
    Les animaux de la ferme
</div>
<div class="instruction">
    Clique sur l'image de l'animal pour entendre la prononciation du mot.
</div>

<div class="cards">
    <div class="card">
        <div class="text">
            Vache
        </div>
        <div class="picture">
            <img class="image" src="../../../assets/img/cow.svg" alt="" (click)="playAudio('../../../assets/audio/cow.mp3')">
        </div>
        <div class="text">
            Cow
        </div>
    </div>
    <div class="card">
        <div class="text">
            Mouton
        </div>
        <div class="picture">
            <img class="image" src="../../../assets/img/sheep.svg" alt="" (click)="playAudio('../../../assets/audio/sheep.mp3')">
        </div>
        <div class="text">
            Sheep
        </div>
    </div>
    <div class="card">
        <div class="text">
            Poule
        </div>
        <div class="picture">
            <img class="image" src="../../../assets/img/hen.svg" alt="" (click)="playAudio('../../../assets/audio/chicken.mp3')">
        </div>
        <div class="text">
            Chicken
        </div>
    </div>
    <div class="card">
        <div class="text">
            Cochon
        </div>
        <div class="picture">
            <img class="image" src="../../../assets/img/pig.svg" alt="" (click)="playAudio('../../../assets/audio/pig.mp3')">
        </div>
        <div class="text">
            Pig
        </div>
    </div>
</div>
