<img class="abc" src="../../../assets/img/abc.svg" alt="">
<img class="panda" src="../../../assets/img/panda.svg" alt="">
<div class="menu">
    <div class="item" routerLink="/vocabulary/1">    
        <div class="text">
            Les animaux de la ferme
        </div>
    </div>
    <div class="item disabled">
        <div class="text">
            Les couleurs
        </div>
    </div>
    <div class="item disabled">    
        <div class="text">
            Le temps
        </div>
    </div>
    <div class="item disabled">    
        <div class="text">
            les fruits et légumes
        </div>
    </div>
</div>