<img class="book" src="../../../assets/img/book.png" alt="">
<img class="panda" src="../../../assets/img/panda.svg" alt="">
<div class="menu">
    <div class="item" routerLink="/history/1">    
        <div class="text">
            Boucle d'or et les trois oursons
        </div>
    </div>
    <div class="item" routerLink="/history/2">
        <div class="text">
            Le petit chaperon rouge
        </div>
    </div>
    <div class="item disabled">    
        <div class="text">
            Les trois petits cochons
        </div>
    </div>
    <div class="item disabled">    
        <div class="text">
            Hanzel et Gretel
        </div>
    </div>
</div>