.panda {
    margin-top: 20px;
    height: 166px;
    margin-left: 50%;
    transform: translate(-50%);
}

.menu {
    margin-top: 200px;
}

.item {
    margin-left: 50%;
    margin-top: 28px;
    padding-left: 44px;
    transform: translate(-50%);
    width: 310px;
    height: 95px;
    background-color: #FFEBD2;
    color: #464655;
    font-size: 23px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item:hover {
    background-color: #fff2e3;
}

.text {
    display: table-cell;
    vertical-align: middle;
    width: 310px;
    height: 95px;
}

.icon {
    width: 50px;
    float: right;
    margin-right: 20px;
}